.inactive {
	pointer-events:	none;
	cursor: default;
} 
.active {
	pointer-events: auto;
	cursor: pointer;
}
.fullTweet {
	border-bottom: 1px solid #EBEBEB
}
/* :hover is a pseudo selector to use to set the mouseover attributes */
 .fullTweet:hover {
   background: #66FFFF;
}
input:focus, button:focus, button:hover {
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
input, button, li {
-moz-transition: box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}

.searchHistory:hover {
	 list-style-type:circle;
	 background : #66FFFF;
	 margin-left: 1em;
}
.clickable {
	 text-decoration:underline;
	 cursor:pointer;
}

div#searchHistory {
	position: relative;
	 z-index: 200;
}
#searchHistory li {
	padding: 5px 5px;
}
.overlay{
    background:transparent url(../images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}